In [1]:
import os

In [55]:
from matplotlib import pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
#import coremltools
from scipy import stats
from IPython.display import display, HTML

from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score
from sklearn import preprocessing
import tensorflow as tf

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Reshape
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils

In [3]:
columns=['user','activity','time','x','y','z']

data_phone_accel_sum = pd.DataFrame(data=None,columns=columns)
for dirname, _, filenames in os.walk('DATA/phone/accel'):
    for filename in filenames:
        df = pd.read_csv('DATA/phone/accel/'+filename , sep=",", encoding='utf-8', names=columns)
        temp=pd.DataFrame(data=df.values, columns=columns)
        data_phone_accel_sum=pd.concat([data_phone_accel_sum,temp])

In [4]:
data_phone_accel_sum.shape

(4804404, 6)

In [5]:
data_phone_accel_sum['z'] = data_phone_accel_sum['z'].str.replace(';','')
data_phone_accel_sum['activity'].value_counts()
data_phone_accel_sum['x']=data_phone_accel_sum['x'].astype('float')
data_phone_accel_sum['y']=data_phone_accel_sum['y'].astype('float')
data_phone_accel_sum['z']=data_phone_accel_sum['z'].astype('float')

print(data_phone_accel_sum['activity'].value_counts())
data_phone_accel_sum.info()

activity
K    285190
A    279817
M    278766
P    272730
O    272219
H    270756
G    269609
E    269604
B    268409
R    268065
L    265781
S    265214
D    264592
I    261360
Q    260497
C    255645
J    249793
F    246356
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 4804404 entries, 0 to 160778
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user      object
 1   activity  object
 2   time      object
 3   x         float64
 4   y         float64
 5   z         float64
dtypes: float64(3), object(3)
memory usage: 256.6+ MB

In [6]:
data_phone_gyro_sum = pd.DataFrame(data=None,columns=columns)
for dirname, _, filenames in os.walk('DATA/phone/gyro'):
    for filename in filenames:
        df = pd.read_csv('DATA/phone/gyro/'+filename , sep=",", encoding='utf-8', names=columns)
        temp=pd.DataFrame(data=df.values, columns=columns)
        data_phone_gyro_sum=pd.concat([data_phone_gyro_sum,temp])

In [7]:
data_phone_gyro_sum.shape

(3608636, 6)

In [8]:
data_phone_gyro_sum['z'] = data_phone_gyro_sum['z'].str.replace(';','')

data_phone_gyro_sum['x']=data_phone_gyro_sum['x'].astype('float')
data_phone_gyro_sum['y']=data_phone_gyro_sum['y'].astype('float')
data_phone_gyro_sum['z']=data_phone_gyro_sum['z'].astype('float')

print(data_phone_gyro_sum['activity'].value_counts())
data_phone_gyro_sum.info()

activity
A    203919
M    202625
G    202622
H    202408
K    202395
D    202370
E    202351
P    202331
R    202330
S    202321
B    200252
O    198756
L    197915
I    197905
Q    197894
C    197857
J    197844
F    194540
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 3608636 entries, 0 to 80347
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user      object
 1   activity  object
 2   time      object
 3   x         float64
 4   y         float64
 5   z         float64
dtypes: float64(3), object(3)
memory usage: 192.7+ MB

In [9]:
data_watch_gyro_sum = pd.DataFrame(data=None,columns=columns)
for dirname, _, filenames in os.walk('DATA/watch/gyro'):
    for filename in filenames:
        df = pd.read_csv('DATA/watch/gyro/'+filename , sep=",", encoding='utf-8', names=columns)
        temp=pd.DataFrame(data=df.values, columns=columns)
        data_watch_gyro_sum=pd.concat([data_watch_gyro_sum,temp])

In [10]:
data_watch_gyro_sum['z'] = data_watch_gyro_sum['z'].str.replace(';','')
data_watch_gyro_sum['x']=data_watch_gyro_sum['x'].astype('float')
data_watch_gyro_sum['y']=data_watch_gyro_sum['y'].astype('float')
data_watch_gyro_sum['z']=data_watch_gyro_sum['z'].astype('float')

print(data_watch_gyro_sum['activity'].value_counts())
data_watch_gyro_sum.info()

activity
K    197917
Q    197403
D    195050
P    194845
E    194103
S    193373
A    192531
I    192085
M    191535
R    190776
G    190759
L    190191
J    189609
B    187833
O    187684
F    187175
H    187057
C    180416
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 3440343 entries, 0 to 66555
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user      object
 1   activity  object
 2   time      object
 3   x         float64
 4   y         float64
 5   z         float64
dtypes: float64(3), object(3)
memory usage: 183.7+ MB

In [11]:
data_watch_accel_sum = pd.DataFrame(data=None,columns=columns)
for dirname, _, filenames in os.walk('DATA/watch/accel'):
    for filename in filenames:
        df = pd.read_csv('DATA/watch/accel/'+filename , sep=",", encoding='utf-8', names=columns)
        temp=pd.DataFrame(data=df.values, columns=columns)
        data_watch_accel_sum=pd.concat([data_watch_accel_sum,temp])

In [12]:
data_watch_accel_sum

       user activity              time         x          y           z
0       NaN      NaN               NaN       NaN        NaN         NaN
0      1600        A    90426708196641  7.091625  -0.591667   8.195502;
1      1600        A    90426757696641  4.972757  -0.158317  6.6967316;
2      1600        A    90426807196641   3.25372  -0.191835   6.107758;
3      1600        A    90426856696641  2.801216  -0.155922   5.997625;
...     ...      ...               ...       ...        ...         ...
66587  1650        S  2426184421424592    1.4865 -13.302334   5.355231;
66588  1650        S  2426184471411932  4.017171 -13.146711  5.1182046;
66589  1650        S  2426184521399272  4.412214 -15.318253  3.3704374;
66590  1650        S  2426184571385262  4.426579 -13.012636  2.5755625;
66591  1650        S  2426184621371252   3.76578 -11.798776   2.166154;

[3777047 rows x 6 columns]

In [13]:
data_watch_accel_sum['z'] = data_watch_accel_sum['z'].str.replace(';','')
data_watch_accel_sum['x']=data_watch_accel_sum['x'].astype('float')
data_watch_accel_sum['y']=data_watch_accel_sum['y'].astype('float')
data_watch_accel_sum['z']=data_watch_accel_sum['z'].astype('float')

print(data_watch_accel_sum['activity'].value_counts())
data_watch_accel_sum.info()

activity
E    216529
K    215879
Q    215365
D    213018
P    212810
S    211335
A    210495
O    210107
I    210048
M    209491
H    209483
R    208734
G    208720
C    207312
B    205787
F    205137
L    203684
J    203112
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 3777047 entries, 0 to 66591
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user      object
 1   activity  object
 2   time      object
 3   x         float64
 4   y         float64
 5   z         float64
dtypes: float64(3), object(3)
memory usage: 201.7+ MB


### Combining Phone accel and gyro data

In [14]:
data_phone_accel_sum = data_phone_accel_sum.iloc[1:]
data_phone_accel_sum = data_phone_accel_sum.reset_index(drop=True)

In [15]:
data_phone_gyro_sum = data_phone_gyro_sum.iloc[1:]
data_phone_gyro_sum = data_phone_gyro_sum.reset_index(drop=True)

In [16]:
data_phone_gyro_sum

         user activity             time         x         y         z
0        1600        A  252207918580802 -0.853210  0.297226  0.890182
1        1600        A  252207968934806 -0.875137  0.015472  0.162231
2        1600        A  252208019288809 -0.720169  0.388489 -0.284012
3        1600        A  252208069642813 -0.571640  1.227402 -0.241669
4        1600        A  252208119996817 -0.380493  1.202835 -0.213135
...       ...      ...              ...       ...       ...       ...
3608630  1650        S  357733977635000  0.438889  0.171508  0.169377
3608631  1650        S  357734017925000  0.444215  0.158724  0.197074
3608632  1650        S  357734058325000  0.519849  0.037284  0.196009
3608633  1650        S  357734098619000  0.545415 -0.086286  0.178964
3608634  1650        S  357734138868000  0.471912 -0.201335  0.232228

[3608635 rows x 6 columns]

In [17]:
df_phone = pd.DataFrame(data=None, columns=columns)
df_phone['user']= data_phone_accel_sum['user'].head(3608635)
df_phone['activity']= data_phone_accel_sum['activity'].head(3608635)
df_phone['time']= data_phone_accel_sum['time'].head(3608635)
df_phone['x'] = data_phone_gyro_sum['x'].values + data_phone_accel_sum['x'].head(3608635).values
df_phone['y'] = data_phone_gyro_sum['y'].values + data_phone_accel_sum['y'].head(3608635).values
df_phone['z'] = data_phone_gyro_sum['z'].values + data_phone_accel_sum['z'].head(3608635).values

### Combining watch acccel and gyro data

In [18]:
data_watch_accel_sum = data_watch_accel_sum.iloc[1:]
data_watch_accel_sum = data_watch_accel_sum.reset_index(drop=True)

In [19]:
data_watch_gyro_sum = data_watch_gyro_sum.iloc[1:]
data_watch_gyro_sum = data_watch_gyro_sum.reset_index(drop=True)

In [20]:
df_watch = pd.DataFrame(data=None, columns=columns)
df_watch['user']= data_watch_accel_sum['user'].head(3440342)
df_watch['activity']= data_watch_accel_sum['activity'].head(3440342)
df_watch['time']= data_watch_accel_sum['time'].head(3440342)
df_watch['x'] = data_watch_gyro_sum['x'].values + data_watch_accel_sum['x'].head(3440342).values
df_watch['y'] = data_watch_gyro_sum['x'].values + data_watch_accel_sum['y'].head(3440342).values
df_watch['z'] = data_watch_gyro_sum['x'].values + data_watch_accel_sum['z'].head(3440342).values

In [21]:
df_phone['activity'].value_counts()

activity
A    217194
K    213640
H    207882
I    207678
M    207215
G    206994
E    206992
B    205784
D    201973
P    201173
O    200160
R    196265
L    194054
S    193668
C    193031
Q    188703
F    183740
J    182489
Name: count, dtype: int64

In [22]:

df_watch['activity'].value_counts()

activity
E    198506
K    197861
D    195012
P    194799
Q    194782
O    192099
I    192041
H    191460
M    191170
A    190717
G    190713
S    189727
C    189302
F    187129
R    187126
B    187115
L    185677
J    185106
Name: count, dtype: int64


### Combining Phone and Watch Data

In [23]:
df_phone_watch = pd.DataFrame(data=None, columns=columns)
df_phone_watch['user']= df_phone['user'].head(3440342)
df_phone_watch['activity']= df_phone['activity'].head(3440342)
df_phone_watch['time']= df_phone['time'].head(3440342)
df_phone_watch['x'] = df_watch['x'].values + df_phone['x'].head(3440342).values
df_phone_watch['y'] = df_watch['y'].values + df_phone['y'].head(3440342).values
df_phone_watch['z'] = df_watch['z'].values + df_phone['z'].head(3440342).values

In [24]:
df_phone_watch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3440342 entries, 0 to 3440341
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user      object
 1   activity  object
 2   time      object
 3   x         float64
 4   y         float64
 5   z         float64
dtypes: float64(3), object(3)
memory usage: 157.5+ MB

In [25]:
df_phone_watch['activity'].value_counts()

activity
A    208259
K    204705
M    198279
E    198059
B    196849
G    194809
D    193039
C    193031
P    192236
O    191229
H    190017
I    189812
R    187332
L    185123
S    184736
F    183740
Q    179770
J    169317
Name: count, dtype: int64

In [26]:

Fs = 20

In [27]:
activities = df_phone_watch['activity'].value_counts().index

In [28]:

df_phone_watch = df_phone_watch.drop(['user', 'time'], axis=1)

In [29]:
df_phone_watch['activity'].value_counts()

activity
A    208259
K    204705
M    198279
E    198059
B    196849
G    194809
D    193039
C    193031
P    192236
O    191229
H    190017
I    189812
R    187332
L    185123
S    184736
F    183740
Q    179770
J    169317
Name: count, dtype: int64

In [30]:
df_a = df_phone_watch[df_phone_watch['activity']=='A'].head(174604)
df_m = df_phone_watch[df_phone_watch['activity']=='M'].head(174604)
df_k = df_phone_watch[df_phone_watch['activity']=='K'].head(174604)
df_p = df_phone_watch[df_phone_watch['activity']=='P'].head(174604)
df_e = df_phone_watch[df_phone_watch['activity']=='E'].head(174604)
df_o = df_phone_watch[df_phone_watch['activity']=='O'].head(174604)
df_c = df_phone_watch[df_phone_watch['activity']=='C'].head(174604)
df_d = df_phone_watch[df_phone_watch['activity']=='D'].head(174604)
df_l = df_phone_watch[df_phone_watch['activity']=='L'].head(174604)
df_b = df_phone_watch[df_phone_watch['activity']=='B'].head(174604)
df_h = df_phone_watch[df_phone_watch['activity']=='H'].head(174604)
df_f = df_phone_watch[df_phone_watch['activity']=='F'].head(174604)
df_g = df_phone_watch[df_phone_watch['activity']=='G'].head(174604)
df_q = df_phone_watch[df_phone_watch['activity']=='Q'].head(174604)
df_r = df_phone_watch[df_phone_watch['activity']=='R'].head(174604)
df_s = df_phone_watch[df_phone_watch['activity']=='S'].head(174604)
df_i = df_phone_watch[df_phone_watch['activity']=='I'].head(174604)
df_j = df_phone_watch[df_phone_watch['activity']=='J']

In [31]:
df_c

        activity          x         y          z
7146           C   5.872117  6.927683   0.287083
7147           C  14.562456  3.029939  13.795998
7148           C  14.696014 -9.832061  17.014784
7149           C  -0.008422 -4.400377  10.874305
7150           C  -1.949504 -0.021005   5.857314
...          ...        ...       ...        ...
3195053        C   2.261849 -4.518376  19.177586
3195054        C   4.651885 -1.980438  17.193416
3195055        C   4.618292 -6.437165  16.685508
3195056        C   3.418639 -5.740864  16.321177
3195057        C   4.627415 -2.613003  15.785382

[174604 rows x 4 columns]

In [32]:
df_list = [df_a, df_m, df_k, df_p, df_e, df_o, df_c, df_d, df_l, df_b, df_h, df_f, df_g, df_q, df_r, df_s, df_i, df_j]

In [33]:

balanced_data = pd.concat(df_list, ignore_index=True)

In [34]:
balanced_data['activity'].value_counts()

activity
A    174604
M    174604
I    174604
S    174604
R    174604
Q    174604
G    174604
F    174604
H    174604
B    174604
L    174604
D    174604
C    174604
O    174604
E    174604
P    174604
K    174604
J    169317
Name: count, dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
label = LabelEncoder()
balanced_data['label'] = label.fit_transform(balanced_data['activity']) 
balanced_data

        activity          x          y          z  label
0              A   6.188597   8.814006  10.455713      0
1              A   3.605272  10.013322   8.263343      0
2              A   4.606045  11.376722   8.513901      0
3              A   2.718174  13.761097   5.978487      0
4              A   1.299151  14.153046   3.168536      0
...          ...        ...        ...        ...    ...
3137580        J -13.463638  -8.818773  -2.320777      9
3137581        J -13.582652  -9.013937  -2.345182      9
3137582        J -13.629185  -8.722762  -2.201741      9
3137583        J -13.675635  -9.399319  -2.620970      9
3137584        J -13.889722  -9.648993  -2.817738      9

[3137585 rows x 5 columns]

In [37]:
label.classes_

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'O', 'P', 'Q', 'R', 'S'], dtype=object)


## Standardize Data

In [38]:
from sklearn.preprocessing import StandardScaler

x = balanced_data[['x','y','z']]
y = balanced_data['label']
scaler = StandardScaler()
x = scaler.fit_transform(x)

scaled_x = pd.DataFrame(data=x, columns=['x','y','z'])
scaled_x['label'] = y.values

scaled_x

                x         y         z  label
0        0.644592  1.511277  1.015689      0
1        0.362824  1.640989  0.721891      0
2        0.471980  1.788448  0.755468      0
3        0.266066  2.046331  0.415699      0
4        0.111291  2.088722  0.039139      0
...           ...       ...       ...    ...
3137580 -1.498913 -0.395803 -0.696481      9
3137581 -1.511894 -0.416911 -0.699752      9
3137582 -1.516970 -0.385419 -0.680529      9
3137583 -1.522036 -0.458592 -0.736710      9
3137584 -1.545387 -0.485596 -0.763079      9

[3137585 rows x 4 columns]


# Frame Preparation

In [39]:
import scipy.stats as stats

In [40]:
Fs=20
frame_size = Fs*4 #80
hop_size = Fs*2 #40

In [41]:
def get_frames(df, frame_size, hop_size):
    
    N_FEATURES = 3
    frames = []
    labels = []
    for i in range(0,len(df )- frame_size, hop_size):
        x = df['x'].values[i: i+frame_size]
        y = df['y'].values[i: i+frame_size]
        z = df['z'].values[i: i+frame_size]
        
        label = stats.mode(df['label'][i: i+frame_size])[0]
        frames.append([x,y,z])
        labels.append(label)
        
    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [42]:
x,y = get_frames(scaled_x, frame_size, hop_size)

In [43]:

x.shape, y.shape

((78438, 80, 3), (78438,))

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.30, random_state = 0, stratify = y)

In [46]:
x_train.shape,y_train.shape

((54906, 80, 3), (54906,))

In [47]:
x_test.shape, y_test.shape

((23532, 80, 3), (23532,))

In [48]:
x_train[0].shape, x_test[0].shape

((80, 3), (80, 3))

In [49]:
x_train = x_train.reshape(x_train.shape[0], 80, 3,1)
x_test = x_test.reshape(x_test.shape[0], 80, 3,1)

## 2D CNN Model

In [50]:
model = Sequential()
model.add(Conv2D(256, (2,2), activation = 'relu', input_shape = x_train[0].shape))
model.add(Dropout(0.1))

model.add(Conv2D(512, (2,2), activation = 'relu'))
model.add(Dropout(0.2))

model.add(Flatten())

model.add(Dense(1024, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(18, activation='softmax'))

In [51]:
model.compile(optimizer="Adam", loss="sparse_categorical_crossentropy", metrics=["accuracy"])

In [52]:
history = model.fit(x_train, y_train, epochs = 25, validation_data=(x_test, y_test), verbose=1 )

Epoch 1/25
1716/1716 [==============================] - 31s 14ms/step - loss: 2.4030 - accuracy: 0.2192 - val_loss: 2.0327 - val_accuracy: 0.3375
Epoch 2/25
1716/1716 [==============================] - 26s 15ms/step - loss: 1.8961 - accuracy: 0.3812 - val_loss: 1.5967 - val_accuracy: 0.5012
Epoch 3/25
1716/1716 [==============================] - 24s 14ms/step - loss: 1.5455 - accuracy: 0.4951 - val_loss: 1.4166 - val_accuracy: 0.5558
Epoch 4/25
1716/1716 [==============================] - 24s 14ms/step - loss: 1.3156 - accuracy: 0.5696 - val_loss: 1.3022 - val_accuracy: 0.5906
Epoch 5/25
1716/1716 [==============================] - 23s 14ms/step - loss: 1.1517 - accuracy: 0.6238 - val_loss: 1.2740 - val_accuracy: 0.6021
Epoch 6/25
1716/1716 [==============================] - 24s 14ms/step - loss: 1.0252 - accuracy: 0.6646 - val_loss: 1.2302 - val_accuracy: 0.6241
Epoch 7/25
1716/1716 [==============================] - 25s 14ms/step - loss: 0.9299 - accuracy: 0.6952 - val_loss: 1.2356 - val_accuracy: 0.6221
Epoch 8/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.8531 - accuracy: 0.7191 - val_loss: 1.2635 - val_accuracy: 0.6263
Epoch 9/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.7919 - accuracy: 0.7416 - val_loss: 1.2123 - val_accuracy: 0.6367
Epoch 10/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.7434 - accuracy: 0.7569 - val_loss: 1.2508 - val_accuracy: 0.6452
Epoch 11/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.6995 - accuracy: 0.7702 - val_loss: 1.2538 - val_accuracy: 0.6492
Epoch 12/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.6603 - accuracy: 0.7849 - val_loss: 1.3059 - val_accuracy: 0.6480
Epoch 13/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.6338 - accuracy: 0.7928 - val_loss: 1.2971 - val_accuracy: 0.6438
Epoch 14/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.6055 - accuracy: 0.8007 - val_loss: 1.2940 - val_accuracy: 0.6495
Epoch 15/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.5780 - accuracy: 0.8103 - val_loss: 1.3024 - val_accuracy: 0.6421
Epoch 16/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.5540 - accuracy: 0.8173 - val_loss: 1.3164 - val_accuracy: 0.6513
Epoch 17/25
1716/1716 [==============================] - 25s 14ms/step - loss: 0.5301 - accuracy: 0.8266 - val_loss: 1.3224 - val_accuracy: 0.6569
Epoch 18/25
1716/1716 [==============================] - 25s 14ms/step - loss: 0.5176 - accuracy: 0.8303 - val_loss: 1.3634 - val_accuracy: 0.6515
Epoch 19/25
1716/1716 [==============================] - 24s 14ms/step - loss: 0.4994 - accuracy: 0.8371 - val_loss: 1.3726 - val_accuracy: 0.6558
Epoch 20/25
1716/1716 [==============================] - 28s 16ms/step - loss: 0.4854 - accuracy: 0.8427 - val_loss: 1.4813 - val_accuracy: 0.6466
Epoch 21/25
1716/1716 [==============================] - 33s 19ms/step - loss: 0.4704 - accuracy: 0.8449 - val_loss: 1.3806 - val_accuracy: 0.6506
Epoch 22/25
1716/1716 [==============================] - 31s 18ms/step - loss: 0.4581 - accuracy: 0.8525 - val_loss: 1.3572 - val_accuracy: 0.6498
Epoch 23/25
1716/1716 [==============================] - 28s 16ms/step - loss: 0.4461 - accuracy: 0.8533 - val_loss: 1.4799 - val_accuracy: 0.6525
Epoch 24/25
1716/1716 [==============================] - 32s 19ms/step - loss: 0.4383 - accuracy: 0.8567 - val_loss: 1.4558 - val_accuracy: 0.6563
Epoch 25/25
1716/1716 [==============================] - 38s 22ms/step - loss: 0.4221 - accuracy: 0.8624 - val_loss: 1.4865 - val_accuracy: 0.6601

In [54]:
y_pred = model.predict(x_test)

736/736 [==============================] - 2s 2ms/step

In [65]:
y_pred_list = []
for pred in y_pred:
    y_pred_list.append(np.argmax(pred))

In [67]:
acc = accuracy_score(y_test,y_pred_list)

In [69]:
print("The accuracy of the model on test data is {}%".format(round(acc,2)*100))

The accuracy of the model on test data is 66.0%